header, footer, aside, section, article, nav, hgroup {
	display: block;
}

hgroup {
	margin-bottom:20px;
}

h1, h2, h3, h4 {
	margin:2px auto;
	font-family:Arial, Helvetica, sans-serif;
	width:480px;
}

h1 {
	font-size:x-large;
	margin-bottom:10px;
}

h2 {
	font-size:large;
}

h3 {
	font-size:medium;
}

h4 {
	font-size:small;
	font-style:italic;
}

aside h3 {
	margin-left:0px;
}

article {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	width:480px;
	margin:auto;
	font-size:small;
}

article>div {
	margin-left:30px;
}

#time-display {
	font-weight:bold;
}

#poem p img {
	cursor:pointer;
}

.highlight {
	background-color:#ff6;
}

video {
	display:block;
	margin:auto;
}

.warning {
	color:red;
}
